@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Montserrat", sans-serif, "S-CoreDream-3Light";
  margin: 0;
  padding: 0;
  color: white;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

hr {
  background: white;
  height: 1px;
  border: 0;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.inner {
  max-width: 1920px;
  margin: 0 auto;
}

.font14161824 {
  font-size: 24px !important;
}

@media (max-width: 1024) {
  .font14161824 {
    font-size: 18px !important;
  }
}
@media (max-width: 991px) {
  .font14161824 {
    font-size: 16px !important;
  }
}
@media (max-width: 768px) {
  .font14161824 {
    font-size: 14px !important;
  }
}
.fontw100 {
  font-weight: 100 !important;
}

.fontw200 {
  font-weight: 200 !important;
}

.fontw300 {
  font-weight: 300 !important;
}

.fontw400 {
  font-weight: 400 !important;
}

.fontw500 {
  font-weight: 500 !important;
}

.fontw600 {
  font-weight: 600 !important;
}

.fontw800 {
  font-weight: 800 !important;
}

.h100vh {
  height: 100vh !important;
}

.activeColor {
  color: #0FF2F5 !important;
}

.activeBg {
  background-color: #0FF2F5 !important;
}

.font60120200 {
  font-size: 200px !important;
}

.font1620 {
  font-size: 20px !important;
}

.font131620 {
  font-size: 20px !important;
}

@media (max-width: 1280px) {
  .font60120200 {
    font-size: 120px !important;
  }
}
@media (max-width: 768px) {
  .font60120200 {
    font-size: 60px !important;
  }
  .font1620 {
    font-size: 16px !important;
  }
  .font131620 {
    font-size: 16px !important;
  }
}
@media (max-width: 420px) {
  .font131620 {
    font-size: 13px !important;
  }
  .timeline {
    max-width: 64%;
  }
}
#hd {
  background-color: rgba(115, 147, 167, 0.6941176471);
}
#hd .nav-link.active {
  color: #0FF2F5;
}

.section {
  background-color: #B1CCCC;
}

#bannerreact .font131620 {
  color: #7F786F;
}

#about .me {
  max-width: 474px;
}
#about .about_ani {
  max-width: 240px;
  right: 0;
  top: 0;
  margin-right: -6%;
  margin-top: -15%;
}
#about .about_ani img {
  animation: rotate_image 18s linear infinite;
  transform-origin: 50% 50%;
  max-width: 240px;
}
@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}
#about h2 {
  font-family: "Abril Fatface";
  font-size: 200px;
}
#about span {
  font-size: 2rem;
  font-weight: 100;
}
#about .timeline {
  max-width: 90%;
  height: 15rem;
  background-color: rgba(255, 255, 255, 0.49);
  overflow: scroll;
}
#about .timeline p {
  font-weight: 500;
  color: #7f786f;
}
#about .timeline-item {
  color: red;
}
#about .box {
  -ms-overflow-style: none;
}
#about .box::-webkit-scrollbar {
  display: none;
}
#about .timeline-item {
  margin-left: 1rem;
  padding: 3em 2em 2em;
  position: relative;
  color: rgba(0, 0, 0, 0.7);
  border-left: 2px solid rgba(0, 0, 0, 0.3);
}
#about .timeline-item::before {
  content: attr(date-is);
  position: absolute;
  left: 1em;
  font-weight: bold;
  top: -0.1em;
  display: block;
  font-weight: 400;
  font-size: 2rem;
  color: #7393a7;
}
#about .timeline-item::after {
  width: 10px;
  height: 10px;
  display: block;
  top: 1em;
  position: absolute;
  left: -6px;
  border-radius: 10px;
  content: "";
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: #7393a7;
}
#about .timeline-item:last-child {
  -o-border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0)) 1 100%;
  border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0)) 1 100%;
}
#about .timeline-item p {
  margin-bottom: 0;
}

#work .siteBox {
  height: 750px;
  border-radius: 30px;
  box-shadow: 20px 20px 4px rgba(0, 0, 0, 0.25);
  background-size: cover;
  background-repeat: no-repeat;
}
#work h6 {
  font-family: "Archivo Black";
  font-size: 30rem;
}
#work h1 {
  font-size: 7rem;
  font-weight: 600;
  line-height: 6.2rem;
  letter-spacing: 0.08rem;
}
#work h1 span {
  font-size: 6rem;
}
#work .textBox {
  max-width: 720px;
}
#work .afternumber::after {
  position: absolute;
  right: 0;
  top: 0;
  content: attr(num-is);
  font-size: 25rem;
  font-family: "Archivo Black";
  color: white;
  opacity: 80%;
}
#work .viewbutton a {
  padding: 10px 38px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid gray;
  margin-right: 30px;
  font-size: 1.3rem;
}
#work .progressbar {
  border-radius: 6px;
  overflow: hidden;
}
#work .progressbar p {
  height: 16px;
  margin: 0;
}
#work li, #work p {
  font-size: 1.3rem;
}
#work .afterbulleted li {
  padding-right: 1rem;
}
#work .afterbulleted li::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: -5px 10px 0 0;
  vertical-align: middle;
  background: gray;
  border-radius: 50%;
}
#work .MainC_1 {
  color: #CAACA2 !important;
}
#work .AccentC_1 {
  color: #6E5657 !important;
}
#work .MainC_2 {
  color: #7659B1 !important;
}
#work .AccentC_2 {
  color: #7A00FD !important;
}
#work .MainC_3 {
  color: #5F6F94 !important;
}
#work .AccentC_3 {
  color: #FFFFFF !important;
}

#bannerreact {
  background-color: #DFD3C3;
}
#bannerreact .m71 {
  margin-top: 71px;
}

#bannerreact .swiper-slide {
  height: 750px;
}

.bannerBtns span {
  border: 1px solid #7F786F !important;
  background-color: transparent !important;
  color: #7F786F !important;
}

.bannerBtns > .active {
  background-color: #B1CCCC !important;
  color: #FCF8EC !important;
  border: 1px solid white !important;
}

.reactbg0 {
  background-image: url(/sj/src/modernpoint_banner1.jpg);
}

.reactbg1 {
  background-color: gray;
}

.reactbg2 {
  background-color: yellow;
}

@media (max-width: 1080px) {
  #bannerreact .swiper-slide {
    height: 100vw;
  }
}
footer .quick-menu {
  position: fixed;
  right: 24px; /*bottom:448px;*/
  bottom: 50px;
  z-index: 4;
}

footer .quick-menu ul li {
  display: block;
  text-align: right;
}

footer .quick-menu ul li a,
footer .quick-menu ul li button {
  width: 56px;
  height: 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 0;
  text-indent: -9999px;
  border-radius: 50%;
}

footer .quick-menu ul li .quick-kakao {
  background: #fae100 url(../sj/src/ico_footer_kakao.svg) no-repeat top 15px center;
  background-size: 32px auto;
  transition: all 0.15s;
}

footer .quick-menu ul li .quick-top {
  background: #222 url(../sj/src/ico_footer_top.svg) no-repeat center center;
}

footer .quick-menu ul li .quick-kakao:hover {
  width: 108px;
  border-radius: 30px;
  background-position: top 15px left 17px;
  transition: all 0.15s;
}

footer .quick-menu ul li .quick-kakao:hover::after {
  content: "카카오 오픈채팅";
  font-size: 14px;
  color: #222;
  position: absolute;
  right: 17px;
  top: 17px;
  display: inline-block;
  width: 40px;
  text-indent: 1px;
}

footer .quick-menu ul li .quick-github {
  background: #222 url(../images/lushtimes/btn_times.png) no-repeat center center;
}