@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Montserrat", sans-serif, "S-CoreDream-3Light";
  margin: 0;
  padding: 0;
  color: white;
}

li {
  list-style: none;
}

hr {
  background: white;
  height: 1px;
  border: 0;
}

.font14161824 {
  font-size: 24px !important;
}

@media (max-width: 1024) {
  .font14161824 {
    font-size: 18px !important;
  }
}
@media (max-width: 991px) {
  .font14161824 {
    font-size: 16px !important;
  }
}
@media (max-width: 768px) {
  .font14161824 {
    font-size: 14px !important;
  }
}
.fontw100 {
  font-weight: 100 !important;
}

.fontw200 {
  font-weight: 200 !important;
}

.fontw300 {
  font-weight: 300 !important;
}

.fontw400 {
  font-weight: 400 !important;
}

.fontw500 {
  font-weight: 500 !important;
}

.fontw600 {
  font-weight: 600 !important;
}

.fontw800 {
  font-weight: 800 !important;
}

.h100vh {
  height: 100vh !important;
}

.activeColor {
  color: #0FF2F5 !important;
}

.activeBg {
  background-color: #0FF2F5 !important;
}

.dji {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link.active {
  background-color: #0FF2F5;
}

.section {
  background-color: #B1CCCC;
}

#about .me {
  bottom: 0;
}
#about .about_ani {
  animation: rotate_image 18s linear infinite;
  transform-origin: 50% 50%;
  max-width: 18.7rem;
}
@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}
#about h2 {
  font-family: "Abril Fatface";
  font-size: 15rem;
}
#about span {
  font-size: 2rem;
  font-weight: 100;
}
#about .historyBox {
  width: 1100px;
  height: 480px;
  background-color: rgba(255, 255, 255, 0.49);
}

#work .siteBox {
  max-width: 60vw;
  height: 500px;
  background-color: #ddd;
  border-radius: 20px;
}
#work span {
  font-family: "Abril Fatface";
  font-size: 30rem;
}