@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Montserrat", sans-serif, "S-CoreDream-3Light";
  margin: 0;
  padding: 0;
  color: white;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

hr {
  background: white;
  height: 1px;
  border: 0;
}

.font14161824 {
  font-size: 24px !important;
}

@media (max-width: 1024) {
  .font14161824 {
    font-size: 18px !important;
  }
}
@media (max-width: 991px) {
  .font14161824 {
    font-size: 16px !important;
  }
}
@media (max-width: 768px) {
  .font14161824 {
    font-size: 14px !important;
  }
}
.fontw100 {
  font-weight: 100 !important;
}

.fontw200 {
  font-weight: 200 !important;
}

.fontw300 {
  font-weight: 300 !important;
}

.fontw400 {
  font-weight: 400 !important;
}

.fontw500 {
  font-weight: 500 !important;
}

.fontw600 {
  font-weight: 600 !important;
}

.fontw800 {
  font-weight: 800 !important;
}

.h100vh {
  height: 100vh !important;
}

.activeColor {
  color: #0FF2F5 !important;
}

.activeBg {
  background-color: #0FF2F5 !important;
}

.font1620 {
  font-size: 20px !important;
}

.font131620 {
  font-size: 20px !important;
}

@media (max-width: 768px) {
  .font1620 {
    font-size: 16px !important;
  }
  .font131620 {
    font-size: 16px !important;
  }
}
@media (max-width: 420px) {
  .font131620 {
    font-size: 13px !important;
  }
}
.nav-link.active {
  color: #0FF2F5;
}

.section {
  background-color: #B1CCCC;
}

#about .me {
  bottom: 0;
}
#about .about_ani {
  animation: rotate_image 18s linear infinite;
  transform-origin: 50% 50%;
  max-width: 18.7rem;
}
@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}
#about h2 {
  font-family: "Abril Fatface";
  font-size: 15rem;
}
#about span {
  font-size: 2rem;
  font-weight: 100;
}
#about .historyBox {
  width: 1100px;
  height: 480px;
  background-color: rgba(255, 255, 255, 0.49);
}

#work .siteBox {
  max-width: 60vw;
  height: 600px;
  border-radius: 30px;
  box-shadow: 20px 20px 4px rgba(0, 0, 0, 0.25);
  background-size: cover;
  background-repeat: no-repeat;
}
#work h6 {
  font-family: "Archivo Black";
  font-size: 30rem;
}
#work h1 {
  font-size: 7rem;
  font-weight: 600;
  line-height: 6.2rem;
  letter-spacing: 0.08rem;
}
#work h1 span {
  font-size: 6rem;
}
#work .textBox {
  max-width: 720px;
}
#work .afternumber::after {
  position: absolute;
  right: 0;
  top: 0;
  content: "1";
  font-size: 25rem;
  font-family: "Archivo Black";
  color: white;
  opacity: 80%;
}
#work .viewbutton a {
  padding: 10px 38px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid gray;
  margin-right: 30px;
  font-size: 1.3rem;
}
#work .progressbar {
  border-radius: 6px;
  overflow: hidden;
}
#work .progressbar p {
  height: 16px;
  margin: 0;
}
#work li, #work p {
  font-size: 1.3rem;
}
#work .afterbulleted li {
  padding-right: 1rem;
}
#work .afterbulleted li::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: -5px 10px 0 0;
  vertical-align: middle;
  background: gray;
  border-radius: 50%;
}
#work .MainC_1, #work .MainC_1 span, #work .MainC_1 a {
  color: #CAACA2 !important;
}
#work .AccentC_1, #work .AccentC_1 span, #work .AccentC_1 a, #work .AccentC_1 li {
  color: #6E5657 !important;
}
#work .MainC_2, #work .MainC_2 span, #work .MainC_2 a {
  color: #7659B1 !important;
}
#work .AccentC_2, #work .AccentC_2 span, #work .AccentC_2 a {
  color: #7A00FD !important;
}
#work .MainC_3, #work .MainC_3 span, #work .MainC_3 a {
  color: #5F6F94 !important;
}
#work .AccentC_3, #work .AccentC_3 span, #work .AccentC_3 a {
  color: #FFFFFF !important;
}